body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #calendar, #listed-events-container, #event-list {
    max-width: 800px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  #calendar-header, #event-list-header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 24px;
  }
  
  #event-form, #listed-events-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .theme-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
  }
  
  .theme-option:hover {
    transform: scale(1.2);
  }
  
  .theme1 {
    background-color: #e74c3c;
  }
  
  .theme2 {
    background-color: #2ecc71;
  }
  
  .theme3 {
    background-color: #f39c12;
  }
  
  button {
    cursor: pointer;
    margin: 5px;
  }
  
  /* Added styles for the countdown */
  .countdown {
    color: #e74c3c;
    font-size: 18px;
    margin-top: 10px;
  }
  
  